/* Esercizio 1 */

.ex-1-square {
    transition: background-color 2s;
  }
  
  .ex-1-square:hover {
    background-color: red;
  }
  
  /* Esercizio 2 */
  
  .ex-2-square{
      transition: width 2s;
  }
  
  .ex-2-square:active{
      width: 300px;
  }
  
  /* Esercizio 3 */
  
  .ex-3-square{
      transition: border-radius 2s;
  }
  
  .ex-3-square:hover{
      border-radius: 50%;
  }
  
  /* Esercizio 4 */
  
  .ex-4-square{
      transition: opacity 2s;
  }
  
  .ex-4-square:hover{
      opacity: 0;
  }
  
  /* Esercizio 5 */
  
  .ex-5-square{
      transition: width 2s, height 2s;
  }
  
  .ex-5-square:hover{
      transform: scale(2);
  }
  
  .ex-5-square:active{
      transform: scale(.8);
  }
  
  /* Esercizio 6 */
  
  .ex-6-img{
      transition: filter;
  }
  
  .ex-6-img:hover{
      filter: grayscale(100%);
  }
  
  /* Esercizio 7 */
  
  .ex-7-img{
      transition: filter 2s;
  }
  
  .ex-7-img:hover{
      filter: sepia(100%) blur(5px);
  }
  
  /* Esercizio 8 */
  
  .ex-8-img{
      transition: filter 2s, border 2s;
  }
  
  .ex-8-img:hover{
      filter: saturate(3) contrast(50%);
      border-radius: 10%;
  }
  
  /* Esercizio 9 */
  
  .ex-9-img{
      transition: transform 2s, filter 1s, border 2s;
  }
  
  .ex-9-img:hover{   
      transform: scale(1.3);
      filter:  drop-shadow(8px 8px 10px gray)  brightness(80%);
      border-radius: 10%;
  }
  
  /* Esercizio 10 */
  
  .ex-10-icon {
      animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
      0% { transform: rotate(2turn); }
  }
  
  /* Esercizio 11 */
  
  .ex-11-icon:hover {
      animation: semi-spin 2s linear;
  }
  @keyframes semi-spin {
      0% {
          transform: rotate(0);
      }
      80% {
          transform: rotate(270deg);
      }
      100% {
          transform: rotate(0);
      }
  }
  
  /* Esercizio 12 */
  
  .ex-12-button:hover .ex-12-top-white {
      animation: test-move 2s linear;
  }
  @keyframes test-move {
      0% { left: 10%; }
      50% { left: 60%; }
      100% { left: 10%; }
  }
  .ex-12-button:hover .ex-12-bottom-white {
      animation: second-test-move 2s linear;
  }
  @keyframes second-test-move {
      0% { right: 10%; }
      50% { right: 60%; }
      100% { right: 10%; }
  }
  
  /* Esercizio 13 */

  .ex-13-button:hover .ex-13-top-white {
    animation: test-move-top 2s linear;
}

  @keyframes test-move-top {
    0%   {left: 10px;  top: -10px;}
    20%  {left: 150px; top: -10px;}
    35%  {left: 150px; top: 60px;}
    60%  {left: -20px; top: 60px;}
    80%  {left: -20px; top: -10px;}
    100% {left: 10px; top: -10px; }
  }

  .ex-13-button:hover .ex-13-bottom-white {
    animation: test-move-bottom 2s linear;
}
  @keyframes test-move-bottom {
    0%   {right: 10px;  bottom: -10px;}
    20%  {right: 150px; bottom: -10px;}
    35%  {right: 150px; bottom: 60px;}
    60%  {right: -20px; bottom: 60px;}
    80%  {right: -20px; bottom: -10px;}
    100% {right: 10px; bottom: -10px; }
  }