/* Esercizio 1 */

.ex-1-square {
  transition: background-color 2s;
}

.ex-1-square:hover {
  background-color: red;
}

/* Esercizio 2 */

.ex-2-square{
    transition: width 2s;
}

.ex-2-square:active{
    width: 300px;
}

/* Esercizio 3 */

.ex-3-square{
    transition: border-radius 2s;
}

.ex-3-square:hover{
    border-radius: 50%;
}

/* Esercizio 4 */

.ex-4-square{
    transition: opacity 2s;
}

.ex-4-square:hover{
    opacity: 0;
}

/* Esercizio 5 */

.ex-5-square{
    transition: width 2s, height 2s;
}

.ex-5-square:hover{
    width: 150px;
    height: 150px;
}

.ex-5-square:active{
    width: 50px;
    height: 50px;
}

/* Esercizio 6 */

.ex-6-img{
    transition: filter;
}

.ex-6-img:hover{
    filter: grayscale(100%);
}

/* Esercizio 7 */

.ex-7-img{
    transition: filter 2s;
}

.ex-7-img:hover{
    filter: sepia(100%) blur(5px);
}

/* Esercizio 8 */

.ex-8-img{
    transition: filter 2s, border 2s;
}

.ex-8-img:hover{
    filter: saturate(3) contrast(50%);
    border-radius: 10%;
}



